.light-theme {
    --mainColor: #eaeaea;
    --secondaryColor: #fff;

    --mainText: black;
    --secondaryText: #4b5156;

    --borderColor: #7e7676;
}

.night-theme {
    --mainColor: #15202b;
    --secondaryColor: #192734;

    --mainText: #fff;
    --secondaryText: #eeeeee;

    --borderColor: #c1c1c1;

    --buttonColor: #17a2b8;
}

body {
    overflow-y: scroll;
}

body::-webkit-scrollbar, .modal-container::-webkit-scrollbar {
    display: none;  /* Safari and Chrome browsers */
}

html, body {
    padding: 0;
    margin: 0;
}

body * {
    transition: 0.3s;
}

h1, h2, h3, h4, h5 ,h6 , strong {
    color: var(--mainText);
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

p, li, span, label, input, textarea {
    color: var(--secondaryText);
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #17a2b8;
}

ul {
    list-style: none;
    padding: 0px;
}

h1 {font-size: 56px}
h2 {font-size: 36px}
h3 {font-size: 28px}
h4 {font-size: 24px}
h5 {font-size: 20px}
h6 {font-size: 16px}

.s1, .navbar {
    background-color: var(--mainColor);
    border-bottom: 1px var(--borderColor) solid;
    overflow: auto;
}

.s2 {
    background-color: var(--secondaryColor);
    border-bottom: 1px var(--borderColor) solid;
    overflow: auto;
}

.container {
    display: flex;
    width: 95%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.nav-container {
    display: flex;
}

#navigation, #navigation-2 {
    margin: 0;
    padding: 10px;
}

#navigation li, #navigation-2 li {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

.education-link, .project-link, .contact-link, #topLink {
    cursor: pointer;
}

.language {
    cursor: pointer;
}

.sticky-navbar {
    position: fixed;
    top: 1%;
    right: 1%;
    transform: translate(-1%, -1%);
    border:1px solid var(--borderColor);
    border-radius: 8px;
    background-color: var(--secondaryColor);
    display: none;
    z-index: 1;
}

.theme-image {
    height: 16px;
    width: 16px;
    margin: 0px 10px;
    cursor: pointer;
    align-self: center;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

.welcome-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    padding: 50px 0px;
    text-align: center;
    align-items: center;
}

.color-text1 {
    color:aqua;
    font-family: 'Roboto Slab', serif;
}

#welcome-image {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 200px;
    object-fit: cover;
    padding: 50px 0px;
}

.title-text {
    text-align: center;
}

.cert-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    row-gap: 50px;
    padding: 50px 0px;
    justify-items:center;
}

.cert-box, .project-box {
    height: 350px;
    width: 300px;
    border: 1px solid var(--borderColor);
    overflow: auto;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: -4px 4px 24px 4px rgba(0,0,0,0.75);
    -webkit-box-shadow: -4px 4px 24px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 4px 24px 4px rgba(0,0,0,0.75);
    box-sizing: border-box;
}

.cv-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

#cv_text{
    color:#00BFA6;
    margin: 0px;
    padding-bottom: 12px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

#cv-img {
    width: 150px;
    height: 150px;
}

.project-box{
    overflow: hidden;
}

.image-box {
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-bottom: 1px var(--borderColor) solid;
}

.ed-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-box {
    height: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--secondaryColor);
    padding: 0px 5px;
}

.text-box h4 {
    margin: 20px 0px;
}

.modal-button {
    cursor: pointer;
}

.skills-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    padding: 50px 0px;
    align-items: center;
    text-align: center;
}

#techs-image {
    display: block;
    margin: 0 auto;
    width: 325px;
    height: 325px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px var(--borderColor) solid;
    background-color: var(--mainColor);
}

.color-text2 {
    color: #F50057;
    font-family: 'Roboto Slab', serif;
}

#skills, #project-skills {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--mainColor);
    border-radius: 8px;
    box-shadow: -4px 4px 24px 4px rgba(0,0,0,0.75);
    -webkit-box-shadow: -4px 4px 24px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 4px 24px 4px rgba(0,0,0,0.75);
}

.project-box:hover {
    transform: scale(1.05);
}

.contact-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.contact-box {
    border: 2px solid var(--borderColor);
    height: 150px;
    width: 300px;
    border-radius: 8px;
    background-color: var(--mainColor);
    opacity: 0.8;
    padding: 25px 16px;
    box-sizing: border-box;
    color: var(--secondaryText);
}

.footer {
    background-color: black;
    text-align: center;
}

.footer p {
    font-size: 10px;
    margin: 0;
    color: #fff;
}

.modal {
    z-index: 2;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.modal-container {
    z-index: 3;
    position: fixed;
    width: 85%;
    height: 650px;
    overflow: auto;
    background-color: var(--mainColor);
    border: 2px solid var(--borderColor);
    border-radius: 8px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
    display: none;
    overflow-y: scroll;
}

#close-button {
    position: fixed;
    right: 0px;
    color: aqua;
    margin: 16px 16px;
    cursor: pointer;
    width: fit-content;
}

.modal-wrapper {
    padding: 50px;
    display: grid;
    justify-items: center;
    align-items:flex-start;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'project-images project-images'
    'left-column right-column'
    'project-links project-links'
    ;
}

.slider {
    display: flex;
    flex-direction: column;
    grid-area: project-images;
    align-items: center; 
}

.project-images {
    box-sizing: border-box;
    width: 700px;
    height: 350px;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid var(--borderColor);
}

.slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.active {
    display: block;
}

.picture-select {
    margin: 25px 0px;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.select-button {
    border: 2px solid var(--borderColor);
    width: 30px;
    height: 12px;
    background-color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.select-button:hover {
    background-color: var(--mainColor);
}

.checked {
    background-color: var(--mainColor);
}

.left-column {
    grid-area: left-column;
}

.right-column {
    grid-area: right-column;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

#project-skills {
    background-color: var(--secondaryColor);
    width: 350px;
}

.link-wrapper {
    grid-area: project-links;
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-top: 70px;
}

.button-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-icon {
    height: 28px;
    width: 28px;
    object-fit: cover;
    margin-bottom: 8px;
}

#inkwell-icon {
    border-radius: 8px;
}

#video, #page, #code {
    box-sizing: border-box;
    border-radius: 12px;
    padding: 8px 16px;
    color: white;
    border: 2px var(--borderColor);
}

#video {
    background-color: #F50057;
}

#page {
    background-color: silver;
    color: black;
}

#code {
    background-color: navy;
}

@media screen and (max-width: 1220px) {
    .main-container {
        width: 95%;
    }
}

@media screen and (max-width: 900px) {
    .modal-wrapper {
        grid-template-areas: 
        'project-images project-images'
        'left-column left-column'
        'right-column right-column'
        'project-links project-links'
        ;
    }

    .project-images {
        width: 500px;
        height: 250px;
    }

}